<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Behance_Portfolio</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <div id="app">

        <!-- <input type="text" v-model="creater" style="position: fixed; top:0; left:0; z-index: 99;"> -->

        <div class="banner">
            <img class="banner_img" :src="createrDetail['banner_image_url']" alt="">
        </div>

        <div class="createrNav">
            <div class="createrNav_inner" style="margin-right: 15px;">
                <div class="bg">
                    <img :src="createrDetail['banner_image_url']" alt="">
                </div>
                <img class="avatar" :src="createrDetail['images']['50']" alt="">
                <div class="createrNav_inf">
                    <h1>{{createrDetail['first_name']}} {{createrDetail['last_name']}}</h1>
                    <p>{{createrDetail['location']}}</p>
                </div>
            </div>
        </div>

        <div class="creater">
            <div class="creater_inner">
                <div class="creater_avatar">
                    <img :src="createrDetail['images']['138']" alt="">
                </div>
                <!--<div class="creater_stats">
                    <div>
                        <span class="num">{{shortNum(projects.length)}}</span>
                        <span>作品</span>
                    </div>
                    <div>
                        <span class="num">{{shortNum(createrDetail['stats']['followers'])}}</span>
                        <span>粉絲</span>
                    </div>
                    <div>
                        <span class="num">{{shortNum(createrDetail['stats']['following'])}}</span>
                        <span>追蹤中</span>
                    </div>
                    <!-- <p>{{createrDetail['stats']['comments']}}</p> 
                    <!-- <p>讚數<br>{{createrDetail['stats']['appreciations']}}</p> 
                    <!-- <p>{{createrDetail['stats']['views']}}</p> 
                </div>-->
            </div>

            <div class="creater_inner marginB15">
                <!-- <div class="creater_inf">
                    <img :src="createrDetail['images']['50']" alt="">
                </div> -->
                <div class="creater_inf">
                    <p class="appreciations"><i class="far fa-thumbs-up"></i>
                        {{shortNum(createrDetail['stats']['appreciations'])}}</p>
                    <h1>{{createrDetail['first_name']}} {{createrDetail['last_name']}}</h1>
                    <p>{{createrDetail['location']}}</p>
                    <!-- <p>{{createrDetail['location']}}</p> -->
                </div>
            </div>

            <div class="creater_inner marginB30">
                <div class="fields">
                    <div class="field" v-for="field in createrDetail['fields']">
                        {{field}}
                    </div>
                </div>
            </div>

            <div class="creater_inner">
                <div class="creater_stats">
                    <div>
                        <span class="num">{{shortNum(projects.length)}}</span>
                        <span>作品</span>
                    </div>
                    <div>
                        <span class="num">{{shortNum(createrDetail['stats']['followers'])}}</span>
                        <span>粉絲</span>
                    </div>
                    <div>
                        <span class="num">{{shortNum(createrDetail['stats']['following'])}}</span>
                        <span>追蹤中</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="projects">
            <div class="projects_inner">
                <div class="project" v-for="(project,index) in projects">
                    <a :href="project['url']" target="_blank">
                        <div class="project_img">
                            <img v-if="project['covers']['230'] != undefined" :src="project['covers']['230']" alt="">
                            <img v-else :src="project['covers']['202']" alt="">
                        </div>
                        <!-- <div class="project_name">
                        {{project['name']}}
                    </div> -->
                        <!-- <div class="project_fields">
                        {{project['fields']}}
                    </div> -->
                    </a>
                </div>
            </div>
        </div>

        <footer>
            <span>© 2022 Kelvin.Liou All Rights Reserved.</span>
            <!-- <img class="banner_img" :src="createrDetail['banner_image_url']" alt=""> -->
        </footer>
    </div>

    <!-- Vue 3.0 cdn -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- vue router cdn -->
    <script src="https://unpkg.com/vue-router@next"></script>
    <script src="script.js"></script>
</body>

</html>